# Application key
# Used for encryption where needed.
# Run `php artisan key:generate` to generate a valid key.
APP_KEY={{ bookstack_app_key|default(bookstack_default_app_key) }}

# Application settings
{% if bookstack_app_views_books is defined -%}
# Book View (defaults to list)
# Possible values: list or grid
APP_VIEWS_BOOKS={{ bookstack_app_views_books }}
{% endif %}

# Application URL
# Remove the hash below and set a URL if using BookStack behind
# a proxy, if using a third-party authentication option.
# This must be the root URL that you want to host BookStack on.
# All URL's in BookStack will be generated using this value.
#APP_URL=https://example.com
{% if bookstack_app_url is defined -%}
APP_URL={{ bookstack_app_url|to_json }}
{% endif %}
{% if bookstack_app_lang is defined -%}
APP_LANG={{ bookstack_app_lang }}
APP_AUTO_LANG_PUBLIC=false
{% endif %}

# Database details
DB_HOST={{ bookstack_db_host|default("localhost")|to_json }}
DB_PORT={{ bookstack_db_port|default(3306) }}
DB_DATABASE={{ bookstack_db_database|default("database_database")|to_json }}
DB_USERNAME={{ bookstack_db_username|default("database_username")|to_json }}
DB_PASSWORD={{ bookstack_db_password|default("database_user_password")|to_json }}

# Mail system to use
# Can be 'smtp' or 'sendmail'
MAIL_DRIVER={{ bookstack_mail_driver|default("smtp") }}

# Mail sender options
MAIL_FROM_NAME={{ bookstack_mail_from_name|default("BookStack")|to_json }}
MAIL_FROM={{ bookstack_mail_from|default("bookstack@example.com")|to_json }}

# SMTP mail options
MAIL_HOST={{ bookstack_mail_host|default("localhost")|to_json }}
MAIL_PORT={{ bookstack_mail_port|default(1025) }}
{% if bookstack_mail_username is defined -%}
MAIL_USERNAME={{ bookstack_mail_username|to_json }}
{% endif %}
{% if bookstack_mail_password is defined -%}
MAIL_PASSWORD={{ bookstack_mail_password|to_json }}
{% endif %}
{% if bookstack_mail_encryption is defined -%}
MAIL_ENCRYPTION={{ bookstack_mail_encryption }}
{% endif %}


# A full list of options can be found in the '.env.example.complete' file.
# https://raw.githubusercontent.com/BookStackApp/BookStack/release/.env.example.complete
{% if bookstack_saml_auth is defined %}
# Set authentication method to be saml2
AUTH_METHOD=saml2

# Set the display name to be shown on the login button.
# (Login with <name>)
SAML2_NAME="{{ bookstack_saml_auth.name }}"

# Name of the attribute which provides the user's email address
SAML2_EMAIL_ATTRIBUTE={{ bookstack_saml_auth.email_attr }}

# Name of the attribute to use as an ID for the SAML user.
SAML2_EXTERNAL_ID_ATTRIBUTE={{ bookstack_saml_auth.external_id_attr }}

# Name of the attribute(s) to use for the user's display name
# Can have mulitple attributes listed, separated with a '|' in which
# case those values will be joined with a space.
# Example: SAML2_DISPLAY_NAME_ATTRIBUTES=firstName|lastName
# Defaults to the ID value if not found.
SAML2_DISPLAY_NAME_ATTRIBUTES={{ bookstack_saml_auth.name_attr }}

# Identity Provider entityID URL
SAML2_IDP_ENTITYID={{ bookstack_saml_auth.idp }}

# Auto-load metatadata from the IDP
# Setting this to true negates the need to specify the next three options
SAML2_AUTOLOAD_METADATA=true

# Identity Provider single-sign-on service URL
# Not required if using the autoload option above.
# SAML2_IDP_SSO=https://example.com/saml2/idp/SSOService.php

# Identity Provider single-logout-service URL
# Not required if using the autoload option above.
# Not required if your identity provider does not support SLS.
# SAML2_IDP_SLO=https://example.com/saml2/idp/SingleLogoutService.php

# Identity Provider x509 public certificate data.
# Not required if using the autoload option above.
# SAML2_IDP_x509=<cert_data>

{% if bookstack_saml_auth.groups_attr is defined %}
# Enable SAML group sync.
SAML2_USER_TO_GROUPS=true

# Set the attribute from which BookStack will read groups names from.
SAML2_GROUP_ATTRIBUTE={{ bookstack_saml_auth.groups_attr }}

# Removed user from roles that don't match SAML groups upon login.
SAML2_REMOVE_FROM_GROUPS=false
{% endif %}
{% endif %}
